// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

// ===== VARIABLE SCSS =====
// header height
$header-height: 6rem;

// color palette
$lightblue-color: #e6f0ff;
$darkblue-color: #0f1b4c;
$blue-color: #0689ff;
$black-color: #000336;
$grey-color: #5a6473;
$white-color: #ffffff;

// font body
$font-body: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-black: 800;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-title: 160%;
$leading-text: 180%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-reguler;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  overflow: hidden;
}

// ===== REUSABLE SCSS CLASS =====
// section class
.section {
  padding: 8rem 0 4rem;

  &-title {
    font-size: 26px;
    font-weight: $font-black;
    color: $darkblue-color;
    line-height: $leading-title;
    margin-bottom: $margin-1;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
    margin-bottom: $margin-2;
  }
}

// button class
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: $font-medium;

  &-fill {
    padding: 1rem 2rem;
    background-color: $darkblue-color;
    border-radius: 1rem;
    color: $white-color;
  }

  &-link {
    gap: 10px;
    color: $blue-color;
  }

  &-icon {
    display: inline-flex;
    font-size: 1.2rem;
    color: $blue-color;
  }
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;

  &-gap {
    gap: 3rem;
  }
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: $transition-400;
  z-index: $z-fixed;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 20px;
    font-weight: $font-black;
    color: $darkblue-color;
  }

  @media screen and (max-width: 767px) {
    &__menu {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      border-radius: 2rem;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    color: $grey-color;

    &.active-link {
      font-weight: $font-semibold;
      color: $darkblue-color;
    }
  }

  &__button {
    display: flex;
    margin-top: 1.5rem;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $darkblue-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  background-color: $lightblue-color;

  &__data,
  &__img {
    justify-self: center;
  }

  &__subtitle {
    display: block;
    font-size: 15px;
    color: $grey-color;
    margin-bottom: $margin-0-5;
  }

  &__title {
    font-size: 32px;
  }
}
